* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}
body {
  background-color: rgb(234, 234, 234);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

section {
  margin-top: 40px;
}

#navbar {
  background-color: #fff;
  width: 100%;
  border-bottom: 1px solid;
}

#navbar li {
  color: #4d4e53;
  border-top: 1px solid black;
  list-style: none;
}

#navbar a {
  display: block;
  padding: 10px 30px;
  color: #4d4e53;
  text-decoration: none;
  cursor: pointer;
  font-size: 18px;
  transition: text-indent 0.3s ease-in-out;
}

#navbar a:hover {
  font-weight: 500;
  text-indent: 5px;
}

p {
  margin: 10px;
}

ol {
  margin-left: 30px;
}

#main-doc {
  margin: 0 auto;
}

header {
  color: black;
  margin: 10px;
  text-align: center;
  font-size: 1.8em;
  font-weight: 500;
}

code {
  display: block;
  text-align: left;
  white-space: pre;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  background-color: #fff;
  padding: 0 15px;
  margin: 10px;
  border-radius: 5px;
}

.image {
  width: 100%;
}

footer {
  padding: 30px;
  text-align: center;
  color: #888;
}

@media only screen and (min-width: 815px) {
  body {
    flex-direction: row;
  }
  #navbar {
    width: 300px;
    position: fixed;
    height: 100%;
    resize: horizontal;
    overflow-x: scroll;
  }

  .image {
    width: 70%;
    margin-left: 20px;
  }

  #main-doc {
    margin: 0 20px;
    margin-left: 350px;
  }
}
